default:
  formatters:
    progress: ~
  suites:
    default:
      contexts:
        - App\Tests\Behat\Context\DemoContext: ~
          kernel: '@kernel'
      paths:
        - "%paths.base%/tests/Behat/Feature"

  extensions:
    FriendsOfBehat\SymfonyExtension: ~
