default:
  formatters:
    progress: ~
  suites:
    default:
      contexts:
        - App\Tests\Behat\Context\AuthenticationContext: ~
      paths:
        - "%paths.base%/tests/Behat/Feature"

  extensions:
    FriendsOfBehat\SymfonyExtension: ~
    DAMA\DoctrineTestBundle\Behat\ServiceContainer\DoctrineExtension: ~
